.app{
  margin: 0;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
   display: flex;
   justify-content: center;
   background-color: rgb(214, 214, 214);
   
   width: fit-content;
   margin-left: 30%;
}
li{
  
  margin-left: 50px;
  font-size: 25px;
}
.footer{
  position: fixed;
  
}

.main{
  background-color: aqua;
  min-height: 80vh;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}

.imgshoe{
  width: 300px;
  /* height: 200px; */
}
.card{
  border: 2px solid black;
  width: 310px;
  padding-left: 4px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
